@use "../utils/" as *;

.index {
    grid-row: main;
}

.container {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: var(--_container-gap);

    position: relative;

    --_cards-in-container: 25;
    --_container-gap: 10px;
    --_draggable-card-height: 115px;

    @include mobile-only {
        --_draggable-card-height: 75px;
    }

    min-height: calc((var(--_cards-in-container) - 1) * (var(--_draggable-card-height) + var(--_container-gap)) + var(--_draggable-card-height));

    counter-reset: draggable-list;
}

.draggable {
    display: flex;

    counter-increment: draggable-list;


    --_height: var(--_draggable-card-height);
    height: var(--_height);
    width: 100%;

    --_x: 0px;
    --_y: 0px;

    --_max-y: calc(100% - var(--_height));

    position: absolute;
    top: clamp(0px, var(--_y, 0px), var(--_max-y, 0px));
    left: 0; // ? Never changes it's X position

    background-color: grey;

    transition: top var(--_draggable-transition-duration) ease-in-out, filter var(--_draggable-transition-duration) ease-in-out;

    --_draggable-transition-duration: 250ms;
    --_draggable-handle-width: 100px;

    --_draggable-item-count-x-offset: 15px;


    z-index: 0;

    &::after {
        content: counter(draggable-list, decimal-leading-zero);
        position: absolute;
        top: 50%;
        left: calc(var(--_draggable-handle-width) + var(--_draggable-item-count-x-offset));

        translate: 0 -50%;

        font-size: clamp(30px, 5vw, 64px);
    }

    &.dragging {
        // background-color: lightgrey;
        filter: brightness(150%);
        font-weight: bold;


        transition: filter var(--_draggable-transition-duration) ease-in-out;

        cursor: grabbing;
    }

    &__sample {
        display: none;
    }

    &__handle {
        touch-action: none;
        background-color: var(--handle-bg);
        color: var(--handle-color);

        display: flex;
        justify-content: center;
        align-items: center;

        width: var(--_draggable-handle-width);

        &:hover {
            cursor: grab;
        }

        &:active {
            cursor: grabbing;
        }
    }

    &__handle-icon {
        --_size: 64px;

        @include mobile-only {
            --_size: 42px;
        }
    }
}

.keep-high-z-index {
    z-index: 1;
}